blockchain.dSYM/Contents/Resources/DWARF/blockchain
.idea/Blockchain-Progetto-OS.iml
.idea/editor.xml
.idea/modules.xml
.idea/vcs.xml
blockchain.dSYM/Contents/Info.plist
blockchain.dSYM/Contents/Resources/Relocations/aarch64/blockchain.yml
blockchain
test
.idea/inspectionProfiles/Project_Default.xml
test.dSYM/Contents/Info.plist
test.dSYM/Contents/Resources/DWARF/test
test.dSYM/Contents/Resources/Relocations/aarch64/test.yml
